.col {
  border: 4px blue;
  padding: 10px;
  float: left;
  width: 300px;
  border-style: ridge;
  margin: 10px;

}

.navi {
  float:right;
  width: 20%;
  background-color: teal;

}

.img {
max-width: 100%;
height: auto;

}

.col span {
  font-weight: bold;
  color: green;
}

h1 {
  text-align: center;
}


@media screen and (max-width: 1000px){
  .col { float: none;
    background-color: red;
    color: white;
  }

  body {
    background-color: red;
    color: white;
  }
  .navi {
    background-color: blue;
  }
}


@media screen and  (max-width: 650px){
  .col { float: none;
    background-color: black;
    color: white;

  }

  body {
    background-color: black;
    color: white;
  }
  .navi {
width: auto;
  }
}
